body{
  background-color: #4FD5D6;
  font-family: Verdana,sans-serif;
}
* {box-sizing:border-box}


#logo_area{
  padding: 100px;
  text-align: center;
  font-size: 25px;
}

#nav-buttons {
  width: 580px;
  height: auto;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  border-right: 0px;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

#nav-buttons a:hover{
  color: blue;
}



#spam{
  position: relative;
  float: right;
  margin-top: -700px;
}

#spam img{
  width: 200px;
  height: 200px;
}

#logo{
  margin:auto;
}

#links {
  position: relative;
  margin: auto;
  width: 400px;
  height: 300px;
}

#link img{
  margin-left: 200px;
}

.inline-title h1,
.inline-title h2,
.inline-title h3,
.inline-title h4,
.inline-title h5,
.inline-title h6{
  display: inline;
}

.bordered{
  border-radius: 20px;
}

.sky-blue{
  background-color: #CDFFFF;
}

.inline-list li{
  display: inline;
}

.bloody-brown{
  background-color: #400D12;
}

.blk-lttr{
  color: black;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;

}

.size-s{
  max-height: 50%;
  max-width: 50%;
}

.centered{
  margin: 0px auto;
  width: 50%;
  padding: 10px;
}

.at-bottom{
  position: fixed;
  bottom: 0;
}

.mySlides .img{
  width:400;
  height: 300;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /*padding: 5px 12px;*/
  position: absolute;
  bottom: 8px;
  width: 100%;
  /*text-align: center;*/
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text {
  font-size: 70px;
  color:  #cc0000;
}

.active {
  background-color: #717171;
}
